@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: blue;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.contenedor {
  width: 100%;
  /*margin: auto;
  padding-left: 20px;
  padding-right: 20px;*/
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #305185;
  z-index: 1;
}

/* Estilos de navegación */
.nav-logo {
  width: 60px;
}

.menu-personalizado {
  color: blue !important;
}

.btn-personalizado {
  border: 1px solid blue;
  color: blue;
}

button:hover {
  background-color: blue !important;
}

/*Banner*/
.div-banner {
  height: 400px;
  background-image: url(../img/banner1.jpg);
  color: white;
  text-align: center;
  padding: 250px 0 0 0;
}

/*SECCIÓN SERVICIOS*/
.servicios {
  margin: 50px 0 120px 0;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.servicios h1 {
  font-size: 250%;
}

.div__servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-auto-rows: 22rem;
  margin-bottom: 50px;
}

.div__servicios div {
  margin-top: 50px;
  background-color: #305185;
  border-radius: 5px;
  padding: 30px;
}

.div__servicios h2 {
  color: white;
}

.div__servicios div h3 {
  border: 1px solid blue;
  padding: 5px;
  background-color: rgb(170, 109, 206);
  margin-top: 20px;
}

.div__servicios div h3 a {
  text-decoration: none;
  color: white;
}

.div__servicios img {
  width: 90px;
  height: 80px;
  margin: 20px;
}

/*SECCION ELEGIRNOS*/
.elegirnos {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.div__e1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-auto-rows: 22rem;
  margin-bottom: 50px;
}

.elegirnos img {
  width: 300px;
}

.div__e2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

/* FOOTER */
.section-footer {
  background-color: rgb(34, 71, 139);
  color: white;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  grid-auto-rows: 13rem;
}

.section-footer h3 {
  margin-bottom: 20px;
}

.section-footer a {
  color: white;
}

@media (max-width: 520px) {
  .section-footer {
    background-color: rgb(34, 71, 139);
    color: white;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    -moz-column-gap: 10rem;
         column-gap: 10rem;
    grid-auto-rows: 13rem;
    text-align: center;
  }
}
/* ESTILO PAGINA NOSOTROS*/
.banner {
  background-image: url(../img/caberas.jpg);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.about {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.about-e1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-auto-rows: 15rem;
  margin-bottom: 50px;
}

.descripcion {
  text-align: justify;
}

.imagen img {
  width: 300px;
  margin-right: 40px;
}

.equipo {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.equipo h2 {
  margin-bottom: 50px;
}

.sec-portafolio {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.portafolio {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.columna {
  flex: 25%;
  padding: 5px;
}

.columna img {
  margin-top: 10px;
  width: 100%;
  transition: all 300ms;
}

.columna img:hover {
  transform: scale(1.5); /* Animación de zoom a imagenes*/
}

@media (max-width: 800px) {
  .columna {
    flex: 50%;
  }
}
@media (max-width: 520px) {
  .columna {
    flex: 100%;
  }
}
/*ESTILO PÁGINA SERVICIOS*/
.disenoweb {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: justify;
}

.disenoweb div {
  padding: 40px;
}

.disenoweb img {
  width: 600px;
}

.tiendasvirtuales {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 20px;
  text-align: justify;
}

.tiendasvirtuales img {
  width: 600px;
}

.tiendasvirtuales div {
  padding: 40px;
}

.hosting {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: justify;
}

.hosting img {
  width: 400px;
}

.hosting div {
  padding: 40px;
}

.formulario {
  display: flex;
  justify-content: space-evenly;
}

.formulario div {
  width: 400px;
  padding: 40px;
}/*# sourceMappingURL=main.css.map */