@charset "UTF-8";
/*Variables*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: blue;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.contenedor {
  width: 100%;
  /*margin: auto;
  padding-left: 20px;
  padding-right: 20px;*/
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #305185;
  z-index: 1;
}

/* Estilos de navegación */
.nav-logo {
  width: 60px;
}

.menu-personalizado {
  color: blue !important;
}

.btn-personalizado {
  border: 1px solid blue;
  color: blue;
}

.btn-personalizado:hover {
  background-color: blue !important;
}

/*Banner*/
.slide img {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.d-md-block {
  display: block !important;
}

/*SECCIÓN SERVICIOS*/
.servicios {
  margin: 50px 0 120px 0;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.servicios h1 {
  font-size: 250%;
}

.div__servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-auto-rows: 22rem;
  margin-bottom: 50px;
}

.div__servicios div {
  margin-top: 50px;
  background-color: #305185;
  border-radius: 5px;
  padding: 30px;
}

.div__servicios h3 {
  color: white;
}

.div__servicios div h3 {
  border: 1px solid blue;
  padding: 5px;
  background-color: rgb(170, 109, 206);
  margin-top: 20px;
}

.div__servicios div h3 a {
  text-decoration: none;
  color: white;
}

.div__servicios img {
  width: 90px;
  height: 80px;
  margin: 20px;
}

/*SECCION ELEGIRNOS*/
.elegirnos {
  margin-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.div__e1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-auto-rows: 22rem;
  margin-bottom: 50px;
}

.elegirnos img {
  min-width: 200px;
  max-width: 400px;
}

.div__e2 {
  display: flex;
  align-items: flex-start;
}

/* FOOTER */
.section-footer {
  background-color: rgb(34, 71, 139);
  color: white;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  grid-auto-rows: 13rem;
}

.section-footer h3 {
  margin-bottom: 20px;
}

.section-footer a {
  color: white;
}

@media (max-width: 520px) {
  .section-footer {
    background-color: rgb(34, 71, 139);
    color: white;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    -moz-column-gap: 10rem;
         column-gap: 10rem;
    grid-auto-rows: 13rem;
    text-align: center;
  }
}
/* ESTILO PAGINA NOSOTROS*/
.banner {
  background-image: url(../img/caberas.jpg);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.about {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.about-e1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-auto-rows: 15rem;
  margin-bottom: 50px;
}

.descripcion {
  text-align: justify;
}

.imagen img {
  width: 100%;
}

.equipo {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.equipo h2 {
  margin-bottom: 50px;
}

.sec-portafolio {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.portafolio {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.columna {
  flex: 25%;
  padding: 5px;
}

.columna img {
  margin-top: 10px;
  width: 100%;
  transition: all 300ms;
}

.columna img:hover {
  transform: scale(1.5); /* Animación de zoom a imagenes*/
}

@media (max-width: 800px) {
  .columna {
    flex: 50%;
  }
}
@media (max-width: 500px) {
  .columna {
    flex: 100%;
  }
}
/*ESTILO PÁGINA SERVICIOS*/
.serv, .hosting, .tiendasvirtuales, .disenoweb {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 50px;
  text-align: justify;
}

.disenoweb {
  padding: 80px 15vw 40px 15vw;
}
.disenoweb img {
  width: 600px;
}

.tiendasvirtuales {
  flex-direction: row-reverse;
  padding: 120px 15vw 40px 15vw;
}
.tiendasvirtuales img {
  width: 600px;
}

.hosting {
  padding: 40px 15vw 40px 15vw;
}
.hosting img {
  width: 600px;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
  margin-bottom: 70px;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(30, 27, 27, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid rgb(170, 109, 206);
}

.contact-form form button {
  background: rgb(34, 71, 139);
  color: white;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #65118c;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* Mas información*/
.contact-info {
  background: rgb(34, 71, 139);
  color: white;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/*pantallas grandes*/
@media (max-width: 1400px) {
  .disenoweb {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 50px 10vh 40px 10vh;
  }
  .tiendasvirtuales {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 50px 10vh 40px 10vh;
  }
  .hosting {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 50px 10vh 40px 10vh;
  }
}
/*Pantallas medianas*/
@media (max-width: 992px) {
  .disenoweb {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: justify;
    padding: 50px 10vw 40px 10vw;
  }
  .disenoweb img {
    width: 450px;
  }
  .tiendasvirtuales {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: justify;
    padding: 50px 10vw 40px 10vw;
  }
  .tiendasvirtuales img {
    width: 450px;
  }
  .hosting {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: justify;
    padding: 50px 10vw 40px 10vw;
  }
  .hosting img {
    width: 450px;
  }
  .descripcion {
    margin-top: 160px;
  }
}
/*Pantallas pequeñas*/
@media (max-width: 500px) {
  .disenoweb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    padding: 40px 5vw 40px 5vw;
  }
  .disenoweb img {
    width: 300px;
  }
  .tiendasvirtuales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    padding: 40px 5vw 40px 5vw;
  }
  .tiendasvirtuales img {
    width: 300px;
  }
  .hosting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    padding: 40px 5vw 40px 5vw;
  }
  .hosting img {
    max-width: 250px;
    min-width: 150px;
  }
  .elegirnos {
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .about {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .descripcion {
    margin-top: 20px;
  }
}
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: left;
  }
}
.title h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 2.9em;
  text-transform: uppercase;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr);
}

.container > .header, .container > .content, .container > .sidebar, .container > .footer, .container > div {
  background: #fff;
  padding: 20px;
  border: 1px solid #000000;
}

.container > .header, .container > .footer {
  grid-column: 1/-1;
  background-color: rgb(34, 71, 139);
  color: #ffffff;
}

.container > .content {
  grid-column: span 3;
  grid-row: span 4;
}

.content > .article {
  background: #808e9b;
  padding: 20px;
  margin-top: 5px;
  color: #dfe6e9;
}

.content .article h1,
.content .article p {
  padding: 10px;
}

.container > .sidebar {
  grid-column: span 2;
  grid-row: span 4;
  background: #485460;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .sidebar img {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.container > .related-post {
  background-image: url("../img/p1.jpg");
  color: #ffffff;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 0.5s ease;
}

.container > .related-post:hover {
  cursor: pointer;
  color: rgb(170, 109, 206);
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
  }
  .container .content {
    grid-column: 1/-1;
  }
  .container .sidebar {
    grid-column: 1/6;
  }
  .container .related-post {
    grid-column: 1/-1;
  }
}/*# sourceMappingURL=main.css.map */