/* FOOTER */

.section-footer {
    background-color: rgb(34, 71, 139);
    color: white;
    padding: 5%;
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    justify-items: center;
    column-gap: 10rem;
    grid-auto-rows: 13rem;
    
}

.section-footer h3 {
    margin-bottom: 20px;
}

.section-footer a {
    
    color: white;
}

@media (max-width:520px)  {
    .section-footer {
        background-color: rgb(34, 71, 139);
        color: white;
        padding: 3%;
        display: grid; 
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        justify-content: center;
        column-gap: 10rem;
        grid-auto-rows: 13rem;
        text-align: center;
      
    }
}
