/*Variables*/
$color-p: rgb(34, 71, 139);
$color-s: rgb(170, 109, 206);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: blue;
    font-family: 'Oswald', sans-serif;
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@mixin d-flex($principal, $cruzado, $wrap){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}




