
/*ESTILO PÁGINA SERVICIOS*/



.serv{
    @include d-flex(center,flex-start,nowrap);
    gap: 50px;
    text-align: justify;
}


.disenoweb{
    @extend .serv;
    padding: 80px 15vw 40px 15vw;
    img{
        width: 600px;
    }
}

.tiendasvirtuales{
    @extend .serv;
    flex-direction: row-reverse;
    padding: 120px 15vw 40px 15vw;
    img{
        width: 600px;
    }
}

.hosting{
    @extend .serv;
    padding: 40px 15vw 40px 15vw;
    img{
        width: 600px;
    }
}
