
/*ESTILO PÁGINA SERVICIOS*/

.disenoweb{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: justify;
}

.disenoweb div{
    padding: 40px;
}

.disenoweb img{
    width: 600px;
}

.tiendasvirtuales{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
    text-align: justify;
    
}

.tiendasvirtuales img{
    width: 600px;
}

.tiendasvirtuales div{
    padding: 40px;
    
}


.hosting{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: justify;
    
}

.hosting img{
    width: 400px;
}

.hosting div{
    padding: 40px;
}

.formulario {
    display: flex;
    justify-content: space-evenly;
}

.formulario div{
    width: 400px;
    padding: 40px;
}